# Geothermal Datathon 2021
---

<img src="../figures/the_roaring_kitties_logo.png" width="200" align="center">

Team members:
- **Ricardo Lara**
- **Artur Davletshin**
- **Aigul Akberova**
- **Sercan Gul**
- **Hakki Aydin**
- **Jose Hernandez**


---

### Import Modules

In [41]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns

In [7]:
def imput_na(df_original, columns):
    df = df_original[columns].copy(deep=True)
    scaler = MinMaxScaler()
    df = pd.DataFrame(scaler.fit_transform(df), columns =df.columns)

    imputer = KNNImputer(n_neighbors=5)
    df = pd.DataFrame(imputer.fit_transform(df), columns =df.columns)

    df = pd.DataFrame(scaler.inverse_transform(df), columns =df.columns)

    df2 = df_original.copy(deep=True)
    df2[columns] = df.values
    return df2

In [48]:
DVt = pd.read_csv('../1 Data Exploration and Visualization/tidy data/Duvernay_Temperatures.csv')
EVt = pd.read_csv('../1 Data Exploration and Visualization/tidy data/Eaglebine_Temperatures.csv')

DV_UWIs = list(DVt.UWI)
EB_UWIs = list(EVt.UWI.astype(str))

In [29]:
EB = pd.read_csv('../1 Data Exploration and Visualization/tidy data/Eaglebine_well_logs.csv')
DV = pd.read_csv('../1 Data Exploration and Visualization/tidy data/Duvernay_well_logs.csv')

In [6]:
EB

,DEPT,UWI,GR,NPHI_SS,NPHI_LS,DPHI_SS,DPHI_LS,PEFZ,RHOB,CAL,RDEP,RMED,RSHA
0,300.0,42013301410000,60.6010,NaN,NaN,NaN,NaN,NaN,NaN,13.6841,2.1739,NaN,NaN
1,350.0,42013301410000,65.5510,NaN,NaN,NaN,NaN,NaN,NaN,13.6899,1.8841,NaN,NaN
2,400.0,42013301410000,58.2960,NaN,NaN,NaN,NaN,NaN,NaN,13.6960,2.2855,NaN,NaN
3,450.0,42013301410000,50.9340,NaN,NaN,NaN,NaN,NaN,NaN,13.7047,2.4586,NaN,NaN
4,500.0,42013301410000,59.1300,NaN,NaN,NaN,NaN,NaN,NaN,13.7106,2.1222,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48279,3700.0,42507326870000,29.9536,NaN,0.0563,NaN,NaN,5.2548,NaN,7.9110,60.6953,91.0743,NaN
48280,3750.0,42507326870000,23.6987,NaN,0.0437,NaN,NaN,5.2795,NaN,7.8882,74.1758,131.2701,NaN
48281,3800.0,42507326870000,21.4959,NaN,0.2112,NaN,NaN,4.2089,NaN,7.6940,3.9921,4.2291,NaN
48282,3850.0,42507326870000,20.1248,NaN,0.2074,NaN,NaN,4.4718,NaN,7.6009,3.9713,4.2810,NaN
48283,3900.0,42507326870000,23.7728,NaN,0.2363,NaN,NaN,4.7828,NaN,7.6319,2.7226,2.8775,NaN

In [13]:
columns = ['DEPT',
            'GR',
            'NPHI_SS',
            'NPHI_LS',
            'DPHI_SS',
            'DPHI_LS',
            'PEFZ',
            'RHOB',
            'CAL',
            'RDEP',
            'RMED',
            'RSHA'
            ]

EB2 = imput_na(EB, columns)
DV2 = imput_na(DV, columns)

In [9]:
EB.columns.to_list()

['DEPT',
 'UWI',
 'GR',
 'NPHI_SS',
 'NPHI_LS',
 'DPHI_SS',
 'DPHI_LS',
 'PEFZ',
 'RHOB',
 'CAL',
 'RDEP',
 'RMED',
 'RSHA']

In [14]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [45]:
def iterative_imputer(df_original, columns):
    df = df_original[columns].copy(deep=True)
    imputer = IterativeImputer(random_state=42)
    
    df = pd.DataFrame(imputer.fit_transform(df), columns =df.columns)

    df2 = df_original.copy(deep=True)
    df2[columns] = df.values
    return df2

In [44]:
def get_values(df, UWIs, cols):
    df2 = pd.DataFrame(columns = cols+['UWI'])
    df2['UWI'] = UWIs

    curves = {}
    for col in cols:
        curves[col] = np.zeros(len(UWIs))
        for i, UWI in enumerate(UWIs):
            curves[col][i] = df.loc[df.UWI == UWI, col].values[-1]

        df2[col] = curves[col]

    return df2

In [46]:
columns = ['DEPT',
 'GR',
 'NPHI_SS',
 'NPHI_LS',
 'DPHI_SS',
 'DPHI_LS',
 'PEFZ',
 'RHOB',
 'CAL',
 'RDEP',
 'RMED',
 'RSHA']

EB2 = iterative_imputer(EB, columns)
DV2 = iterative_imputer(DV, columns)

c:\Users\rico\Documents\GitHub\GTX-2021\gtx_env\lib\site-packages\sklearn\impute\_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [39]:
columns =  [
 'GR',
 'NPHI_SS',
 'NPHI_LS',
 'DPHI_SS',
 'DPHI_LS',
 'PEFZ',
 'RHOB',
 'CAL',
 'RDEP',
 'RMED',
 'RSHA']

EB3 = get_values(EB,UWIs, columns)
DV2 = get_values()

In [52]:
EB2.to_csv('imputed well logs/Eaglebine_well_logs.csv')
DV2.to_csv('imputed well logs/Duvernay_well_logs.csv')

In [51]:
EB

,DEPT,UWI,GR,NPHI_SS,NPHI_LS,DPHI_SS,DPHI_LS,PEFZ,RHOB,CAL,RDEP,RMED,RSHA
0,300.0,42013301410000,60.6010,NaN,NaN,NaN,NaN,NaN,NaN,13.6841,2.1739,NaN,NaN
1,350.0,42013301410000,65.5510,NaN,NaN,NaN,NaN,NaN,NaN,13.6899,1.8841,NaN,NaN
2,400.0,42013301410000,58.2960,NaN,NaN,NaN,NaN,NaN,NaN,13.6960,2.2855,NaN,NaN
3,450.0,42013301410000,50.9340,NaN,NaN,NaN,NaN,NaN,NaN,13.7047,2.4586,NaN,NaN
4,500.0,42013301410000,59.1300,NaN,NaN,NaN,NaN,NaN,NaN,13.7106,2.1222,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48279,3700.0,42507326870000,29.9536,NaN,0.0563,NaN,NaN,5.2548,NaN,7.9110,60.6953,91.0743,NaN
48280,3750.0,42507326870000,23.6987,NaN,0.0437,NaN,NaN,5.2795,NaN,7.8882,74.1758,131.2701,NaN
48281,3800.0,42507326870000,21.4959,NaN,0.2112,NaN,NaN,4.2089,NaN,7.6940,3.9921,4.2291,NaN
48282,3850.0,42507326870000,20.1248,NaN,0.2074,NaN,NaN,4.4718,NaN,7.6009,3.9713,4.2810,NaN
48283,3900.0,42507326870000,23.7728,NaN,0.2363,NaN,NaN,4.7828,NaN,7.6319,2.7226,2.8775,NaN